{{outlet}}

<div>
	<div></div>
	<h2>About Bierced</h2>
	<p>
		Ambrose Bierce's Devil's Dictionary was... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ipsum praesentium dolorum quos nulla iusto eum facere quidem minima cumque, iure tempore, labore necessitatibus expedita enim atque deserunt, architecto corrupti.
	</p>
</div>
